Hello, what are you going to do on our awesome site ?

<div>
    <a href="{{ path('register') }}">
        Register
    </a>
</div>
<div>
    <a href="{{ path('security_login') }}">
        Login Section
    </a>
</div>
{% if (app.user) is not null %}
    <div>
        <a href="{{ path('profile', { 'id': app.user.id }) }}">
            Profile
        </a>
    </div>
{% endif %}


